@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.woff2') format('woff2');
}

:root {
  --light: #fff;
  --white: #000;
  --low-dark: #939CB0;
  --blue: #4793FF;
  --low-blue: rgba(71, 147, 255, .2)
}

.dark-mode {
  --light: #222;
  --white: #fff;
  --low-dark: #939CB0;
  --blue: #4793FF;
  --low-blue: rgba(71, 147, 255, .2)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat'
}

body {
  background-color: var(--light);
}

.text-black {
  color: var(--white)
}

.bg-white {
  background-color: var(--light);
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

@media screen (min-width: 400px) {
  .container {
    width: 90%
  }
}